@charset "UTF-8";
/* CSS Document */
body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	
}

.main-background {
	background-image: url("../Images/main-background.jpg");
	background-color:#0B1318;
	background-size: cover;
	background-position: center, center;
	width:100%;
	height: 100%;
	min-height: 100vh;
	display: inline-block;
	background-repeat: repeat-x;
	
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

#btn-connect,#btn-disconnect{
    background: none;
    display: inline;
	color:#fff;
	font-weight:400;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;	
	border: #fff solid 1px;
	padding: 10px 20px 10px 20px;
	
}

.menu-bar {
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom:50px;

}

.nav{
	background: none;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-left: 50px;
	margin-right: 50px;

}

.menu-bar-left {
	float:left;
	width:24%;
	padding-left:10px;
	flex: 1;
	padding-top: 20px;		
}

.menu-bar-right {
	float:right;
	width:75%;
	text-align: right;
}

.menu-tile {
	display: inline;
	color:#fff;
	font-weight:400;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;	
	line-height:80px;
}

.menu-tile a {
	color:#fff;
	text-decoration: none;
}

.connect-button, #connected {
	display: inline;
	color:#fff;
	font-weight:400;
	text-transform: uppercase;
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;	
	
	
}

.connect-button, #connected {
    float: right;
    padding-top: 20px;
}

.dapp-main {
	max-width: 1200px;
	height:100%;
	margin: 0 auto;
}

.balance {
	width: 31%;
	float: left;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Images/balance.jpg");
	background-position: center, center;
	background-size: cover;	
	padding-top: 150px;
	padding-bottom: 150px;
	color:#fff;
	font-weight: 700;
	font-size:40px;
	margin:10px;
	box-shadow: -2px 2px 1px 0px rgb(74 73 73 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	border-radius: 10px 10px 10px 10px;
	
}

.rewards {
	width: 31%;
	float:left;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Images/topup.jpg");
	background-size: cover;	
	background-position: center, center;
	padding-top: 150px;
	padding-bottom: 150px;
	color:#fff;
	font-weight: 700;
	font-size:40px;
	margin:10px;
	box-shadow: -2px 2px 1px 0px rgb(74 73 73 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	border-radius: 10px 10px 10px 10px;
	
}

.rebase {
	width: 31%;
	float: left;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/timer.jpg");
	background-size: cover;	
	background-position: center, center;
	padding-top: 150px;
	padding-bottom: 150px;
	color:#fff;
	font-weight: 700;
	font-size:40px;
	margin:10px;
	box-shadow: -2px 2px 1px 0px rgb(74 73 73 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	border-radius: 10px 10px 10px 10px;
	
}

.price {
	width: 31%;
	float: left;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Images/token.jpg");
	background-size: cover;	
	background-position: center, center;
	padding-top: 150px;
	padding-bottom: 150px;
	color:#fff;
	font-weight: 700;
	font-size:40px;
	margin:10px;
	box-shadow: -2px 2px 1px 0px rgb(74 73 73 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	border-radius: 10px 10px 10px 10px;
	
}

.treasury {
	width: 31%;
	float: left;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Images/treasury.jpg");
	background-size: cover;	
	background-position: center, center;
	padding-top: 150px;
	padding-bottom: 150px;
	color:#fff;
	font-weight: 700;
	font-size:40px;
	margin:10px;
	box-shadow: -2px 2px 1px 0px rgb(74 73 73 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	border-radius: 10px 10px 10px 10px;
	
}

.holders {
	width: 31%;
	float: left;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url( "../Images/mc.jpg");
	background-size: cover;	
	background-position: center, center;
	padding-top: 150px;
	padding-bottom: 150px;
	color:#fff;
	font-weight: 700;
	font-size:40px;
	margin:10px;
	box-shadow: -2px 2px 1px 0px rgb(74 73 73 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	border-radius: 10px 10px 10px 10px;
	
}

.main-value {
	margin-bottom: 20px;
	text-align: center;
}

.sub-menu {
	width: 100%;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	
	.menu-bar-left {
    width: 40%;
	padding-bottom: 20px;
}
	.menu-bar-right {
	width:100%;	
	text-align: left;
}
	.menu-tile {
	border: solid 1px #fff;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
	line-height: normal;
	}
	
	.connect-button, #connected {
	border: solid 1px #fff;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
	}
	
	.menu-tile.discord {
    float: right;
}
	
	
	#btn-connect, #btn-disconnect {
    border: none;
    padding: 0px;
}
	
	
	.balance {
	width: 46%;
}

.rewards {
	width: 46%;
}

.rebase {
	width: 46%;
}

.price {
	width: 46%;
}

.treasury {
	width: 46%;
}

.holders {
	width: 46%;	
}

}

@media only screen and (max-width: 650px) {
	
	
	.menu-bar-left {
    width: 60%;
}
	.menu-bar-right {
	width:100%;	
	text-align: left;
}
	
	.menu-tile.discord {
    float: none;
}
	
	.connect-button, #connected {
    float: none;
}
	
	.menu-tile {
    width: 85%;
	}
	
	.connect-button, #connected {
    width: 85%;
	}

	.balance {
	width: 96%;
}

.rewards {
	width: 96%;
}

.rebase {
	width: 96%;
}

.price {
	width: 96%;
}

.treasury {
	width: 96%;
}

.holders {
	width: 96%;	
}

}
